$background-lighter: #F0F0F0;
$background-darker: #E7E7E7;
$blue-row-hover: #CBD9F3;
$blue-row-active: #A8B7D6;
$blue-button-default: #5C7EBD;
$blue-button-hover: #7796CE;
$blue-button-active: #5974A9;
$table-header: #6F7084;
$bright-text: #FFF;
