@import "../../styles/colors";

.contents-container {
  width: 30%;
  margin: auto;
  display: table;
}

.table-actions {
  margin-top: 10px;
}

tr:nth-child(even) {
  background-color: $background-lighter;
}

tr:nth-child(odd) {
  background-color: $background-darker;
}

.table-element {
  width: 100%;
  border-spacing: 5px;
}

.header {
  background: $table-header;
  color: $bright-text;
  font: 400 23.3333px Arial;
  display: table-cell;
  height: 60px;
  vertical-align: middle;
  text-align: left;
}

.suggestion-header {
  width: 75%;
  min-width: 150px;
  padding-left: 15px;
}

.likes-header {
  width: 25%;
  min-width: 70px;
  padding-left: 25px;
}

.suggestion-element {
  word-break: break-word;
  width: 75%;
  padding-left: 15px;
}

.likes-element {
  user-select: none;
  width: 25%;
  padding-left: 25px;
}

.likes-element:hover {
  background: $blue-row-hover;
}

.likes-element:active {
  background: $blue-row-active;
}

.table-row {
  font: 400 23.3333px Arial;
  display: table-cell;
  height: 60px;
  vertical-align: middle;
  text-align: left;
}

.add-suggestion-element {
  width: 25%;
  padding: 0px;
  min-width: 96px;
}

.suggestion-input {
  font: 400 23.3333px Arial;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}

.like-image {
  height: 20px;
  width: 20px;
  float: right;
  margin-right: 20px;
}

.suggestion-input-element {
  padding: 0px;
  width: 75%;
  min-width: 150px;
}

.add-button {
  font: 400 23.3333px Arial;
  width: 100%;
  height: 100%;
  color: $bright-text;
  background: $blue-button-default;
  border: none;
}

.add-button:hover {
  background: $blue-button-hover;
}

.add-button:active {
  background: $blue-button-active;
}
