<div class="contents-container">
  <table class="table-element">
    <tr>
      <th class="header suggestion-header">Suggestion</th>
      <th class="header likes-header">Likes</th>
    </tr>
    <tr *ngFor="let element of dataSource; let i = index">
      <td class="table-row suggestion-element">
        {{element.suggestion}}
      </td>
      <td class="table-row likes-element" (click)="onLikeClick(element)">
        {{element.likes}}
        <img *ngIf="element.likedByUser" class="like-image" src="../../../assets/like.svg">
      </td>
    </tr>
  </table>
  <table class="table-element table-actions">
    <tr>
      <td class="table-row suggestion-input-element">
        <input type="text" [(ngModel)]="newSuggestion" (keyup)="onEnterClick($event)" class="suggestion-input" placeholder="Add a new suggestion">
      </td>
      <td class="table-row add-suggestion-element">
        <button class="add-button" (click)="onAddClick()">
          Add
        </button>
      </td>
    </tr>
  </table>
</div>


